<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/app.css" />


<!-- adding form for airports -->
<form action="/api/getAirport" method="POST" >
  <label for="Airport">Choose an Airport:</label>
  <select name="airportId" id="dropDown">  
    <option selected>Select Pueblo</option>
    <option value="ACA">General Juan N. Álvarez International Airport</option>
    <option value="AGU">Jesús Terán Peredo International Airport</option>
    <option value="MMAL">Agualeguas National Airport</option>
    <option value="XAL">Álamos National Airport</option>
    <option value="AZG">Pablo L Sidar National Airport</option>
    <option value="AZP">Jorge Jiménez Cantú National Airport</option>
    <option value="MMSL">Cabo San Lucas International Airport</option>
    <option value="CPE">Ing. Alberto Acuña Ongay International Airport</option>
    <option value="CNA">Cananea National Airport</option>
    <option value="CUN">Cancún International Airport</option>
    <option value="MMCD">Isla de Cedros Airport</option>
    <option value="CYW">Captain Rogelio Castillo National Airport</option>
    <option value="CTM">Chetumal International Airport</option>
    <option value="CZA">Chichen Itza International Airport<option>
    <option value="CUU">General Roberto Fierro Villalobos International Airport</option>
    <option value="MMCH">Chilpancingo National Airport</option>
    <option value="ACN">Ciudad Acuña International Airport</option>
    <option value="#">Santa Barbara Regional Airport</option>
    <option value="CUA">Ciudad Constitución Airport</option>
    <option value="CME">Ciudad del Carmen International Airport</option>
    <option value="MMC">Ciudad Mante National Airport</option>
    <option value="CJS">Abraham González International Airport</option>
    <option value="CEN">Ciudad Obregón International Airport</option>
    <option value="CVM">General Pedro J. Méndez International Airport</option>
    <option value="CLQ">Lic. Miguel de la Madrid Airport</option>
    <option value="CJT">Copalar Air Force Base Num 17</option>
    <option value="CZM">Cozumel International Airport</option>
    <option value="CVJ">General Mariano Matamoros Airport</option>
    <option value="CUL">Federal de Bachigualato International Airport</option>
    <option value="#">Aeropuerto Nacional Ta Lo De Soto</option>
    <option value="DGO">General Guadalupe Victoria International Airport</option>
    <option value="ESE">El Ciprés Air Force Base Num 3</option>
    <option value="GDL">Don Miguel Hidalgo y Costilla International Airport</option>
    <option value="#">Campo Cuatro Milpas Airport</option>
    <option value="GYM">General José María Yáñez International Airport</option>
    <option value="GUB">Guerrero Negro Airport</option>
    <option value="HMO">General Ignacio Pesqueira Garcia International Airport</option>
    <option value="HUX">Bahías de Huatulco International Airport</option>
    <option value="MMGD">Isla Guadalupe Airport</option>
    <option value="#">Isla María Madre Naval Air Station</option>
    <option value="ISJ">Isla Mujeres National Airport</option>
    <option value="ZIH">Ixtapa-Zihuatanejo International Airport</option>
    <option value="IZT">Ixtepec Airport</option>
    <option value="LAP">Manuel Márquez de León International Airport</option>
    <option value="LOM">Francisco Primo de Verdad National Airport</option>
    <option value="LZC">Lázaro Cárdenas Airport</option>
    <option value="BJX">Del Bajío International Airport</option>
    <option value="LTO">Loreto International Airport</option>
    <option value="SJD">Los Cabos International Airport</option>
    <option value="LMM">Federal del Valle del Fuerte International Airport</option>
    <option value="ZLO">Playa de Oro International Airport</option>
    <option value="MAM">General Servando Canales International Airport</option>
    <option value="#">Manuel Moreno Torres National Airport</option>
    <option value="MZT">General Rafael Buelna International Airport</option>
    <option value="MID">Manuel Crescencio Rejón International Airport</option>
    <option value="MXL">General Rodolfo Sánchez Taboada International Airport</option>
    <option value="MEX">Aeropuerto Internacional Benito Juárez</option>
    <option value="MTT">Minatitlán/Coatzacoalcos National Airport</option>
    <option value="LOV">Venustiano Carranza International Airport</option>
    <option value="MTY">General Mariano Escobedo International Airport</option>
    <option value="NTR">Del Norte International Airport</option>
    <option value="MLM">General Francisco J. Mujica International Airport</option>
    <option value="MUG">Mulegé National Airport</option>
    <option value="NVJ">Navojoa Airport</option>
    <option value="NOG">Nogales International Airport</option>
    <option value="NCG">Nuevo Casas Grandes Municipal Airport</option>
    <option value="NLD">Quetzalcóatl International Airport</option>
    <option value="OAX">Xoxocotlán International Airport</option>
    <option value="MMPC">Ing. Juan Guillermo Villasana National Airport</option>
    <option value="PQM">Palenque International Airport</option>
    <option value="MMPD">León Gonzalez Pie de la Cuesta Air Force Base Num 7</option>
    <option value="PDS">Piedras Negras International Airport</option>
    <option value="PCM">Playa del Carmen National Airport</option>
    <option value="PAZ">El Tajín National Airport</option>
    <option value="PBC">Hermanos Serdán International Airport</option>
    <option value="PXM">Puerto Escondido International Airport</option>
    <option value="PPE">Puerto Peñasco International Airport</option>
    <option value="PVR">Lic. Gustavo Díaz Ordaz International Airport</option>
    <option value="QRO">Querétaro International Airport</option>
    <option value="REX">General Lucio Blanco International Airport</option>
    <option value="SCX">Salina Cruz Naval Air Station</option>
    <option value="SLW">Plan de Guadalupe International Airport</option>
    <option value="SFH">San Felipe International Airport</option>
    <option value="SLP">Ponciano Arriaga International Airports</option>
    <option value="UAC">San Luis Río Colorado Airport</option>
    <option value="NLU">Santa Lucía Air Force Base Num 1</option>
    <option value="SRL">Palo Verde Airport</option>
    <option value="TAM">General Francisco Javier Mina International Airport</option>
    <option value="TSL">Tamuín National Airport</option>
    <option value="TAP">Tapachula International Airport</option>
    <option value="#">Teacapan Naval Air Station</option>
    <option value="TCN">Tehuacán National Airport</option>
    <option value="TPQ">Amado Nervo National Airport</option>
    <option value="TIJ">General Abelardo L. Rodríguez International Airport</option>
    <option value="TZM">Cupul National Airport</option>
    <option value="TLC">Lic. Adolfo López Mateos International Airport</option>
    <option value="TRC">Francisco Sarabia International Airport</option>
    <option value="TUY">Tulum Naval Air Station</option>
    <option value="MMTX">Zapotiltic National Airport</option>
    <option value="TGZ">Angel Albino Corzo International Airport</option>
    <option value="UPN">Uruapan International Airport</option>
    <option value="VER">General Heriberto Jara International Airport</option>
    <option value="VSA">Carlos Rovirosa Pérez International Airpor</option>
    <option value="JAL">El Lencero Airport</option>
    <option value="ZCL">Leobardo C. Ruiz International Airport</option>
    <option value="ZMM">Zamora National Airport</option>
    <option value="MMZP">Zapopan Air Force Base Num 5</option>
</select>
<button type="submit" class="btn btn-primary airbtn" >Submit</button></form>


  <div class="container" id="feed">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="image">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid image__img" src="<%= posts[i].image%>">
              <div class="image__overlay">
                <div class="image__title"><%= posts[i].title%></div>
                <p class="image__description"><%= posts[i].caption%></p>
              </div>
            </a>
          </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>